body {
  font-family: sans-serif;
  background-color: #c4c4c4;
}

h1 {
  font-size: 40px;
}

.headerElement {
  float: left;
}

#header {
  height: 120px;
}

#header, #content {
  width: 90%;
  margin: 0 auto;
}

.controls {
  text-align: right;
  width: 10%;
}

#heading {
  width: 90%;
}

.login-element {
  display: flex;
}

.small-skip {
  margin-bottom: 30px;
}

.tracking-state-elements {
  float: left;
  height: 50px;
  line-height: 40px;
  margin: 30px;
  margin-left: 45px;
}

#tracking-option {
  height: 110px;
}

td, th {
  text-align: left;
  padding: 10px;
}

.id-label {
  float: left;
  margin-right: 20px;
  font-weight: bold;
}

#user-id {
  height: 40px;
}
